



.mixgrowGrid_header {
    position:relative;
    opacity: .95;
    display:none;
}

.mixgrowGrid_header tr.columnHeader {
    background-color: white;

}

.mixgrowGrid_header tr.columnHeader > td {
    border-right:1px solid #cccccc;
}




.mixgrowGrid_header .sortHolder{
    width:19px;
    height:19px;
    background-image:url("sort_both.png");
    cursor: pointer;
}

.mixgrowGrid_header .asc .sortHolder {
    background-image:url("sort_asc.png");
}
.mixgrowGrid_header .desc .sortHolder {
    background-image:url("sort_desc.png");
}

.mixgrowGrid_header .filterHolder {
    width:16px;
    height:16px;
    background-image:url("filter_off.png");
    cursor: pointer;
}
.mixgrowGrid_header .on .filterHolder {
    background-image:url("filter_red.png");
}

.mixgrowGrid_header tr.tally {
    background-color:#ddddff;
}
.mixgrowGrid_header .tally td {
    padding:4px;
}

.mixgrowGrid {
    position:relative;
}

table.mixgrowGrid_data{
    border:1px solid #cccccc;
    min-width:1000px;
}
table.mixgrowGrid_data tr{
    border-bottom:1px solid #cccccc;
}
table.mixgrowGrid_data td{
    padding:4px;
}



.mixgrowGrid_showingMessage {
    position:relative;
    margin-left:60px;
    background-color: white;
    opacity:.9;
    padding:4px;
    display:none;

    font-weight: bold;
    color:black;
    border: 1px solid black;
}

.mixgrowGrid_showingMessage.isUnder{
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.mixgrowGrid_showingMessage.isOver{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}


tr.mixgrow_parent {
    background-color:#eeeeee;
}



.mixGrowGrid.fadeTo50 {
    opacity:.5;
}

.mixgrowGrid .editbox {
    z-index: 100;
    position:absolute;
    left:30px;
    top:30px;
    background-color: darkgray;

    display:none;
    padding:8px;
}
.mixgrowGrid_loading{
    font-size:30px;
    font-weight:bold;
    background-image: url("ajax-loader.gif");
    background-repeat: no-repeat;
    padding-top:6px;
    padding-left:60px;
    height:60px;
}

.minWidth50{
    min-width:50px;
}
.minWidth75{
    min-width:75px;
}
.minWidth100{
    min-width:100px;
}
.finalInSection{
    border-right:1px solid #cccccc;
}

.mixgrowGrid .scrollToTop{
    border:1px solid black;
    border-radius:10px;
    width:150px;
    margin-left:20px;
    text-align: center;
}

.mixgrowGrid .bottomborder{
    background-color:white;
    border-bottom:1px solid #cccccc;
}
